<% provide(:title, 'Contact Us') %>

<h1>Contact Us</h1>
<p>Style aint my thing...</p>
<br/>

<h4>There are two essentially Chuck Norris's working on this project</h4>
<br />

<h4>
<ul> We have Noah, the Great, or Humble. </ul>
<ul> And Blaed, &ltinsert greatness here&gt </ul>
<h4>

