<% provide(:title, 'Contact Us') %>

<h1>Contact Us</h1>
<p>Style aint my thing...</p>
<br/>

<h4>Hey. Nice to meet you.</h4>
<p> Drop us a line, we'd love to hear from you</p>

<br />

<h4>
    <ul> We have Noah, the Great, or Humble. </ul>
    <ul> And Blaed, &ltinsert greatness here&gt </ul>
<h4>