
<div class="center hero-unit" >
	<% #TO DO: How do I do this in css? Or why is the font size 60px for this h1, but not for other h1's? %>
	
    <h1 style="font-size: 40px">Welcome to the Sample App</h1>
    <h2>This is the homepage for the Ruby on Rails Tutorial sample application</h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%=  link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

